.logo{

    &__link{
        border-right: 1px solid #41a1fd;
    }

    img{
        max-height: 40px;
    }

    &__slogan{
        font-size: 0.9rem;
    }
}

.menu{

    &__link{
        font-size: 1.15rem;

        &:hover{
            text-decoration: underline;
            color: #0d6efd;
        }
    }
}

.contacts{

    &__text{
        font-size: 0.85rem;
    }

    &__phone{
        padding-left: 38px;
        background: url("../assets/telephone.svg") no-repeat;
        font-size: 1.2rem;
        color: $textBase;
        text-decoration: none;

        &:hover{
            color: $textBase;
        }
    }

    &__form-link{
        color: $primary;

        &:hover{
            color: $primary;
            text-decoration: none;
        }
    }
}