.icons{

    &__item{

        @include phone{

            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }

        }
    }

    img{
        width: 30px;
        height: 32px;

        @include phone{
            width: 45px;
            height: 45px;
        }
    }

    span{
        font-size: 1.3rem;
    }
}

.sect__icons{

    margin-bottom: 90px;

    .border-row{
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
    }
}