.icons{

    img{
        max-width: 30px;
        max-height: 32px;
    }

    span{
        font-size: 1.3rem;
    }
}

.sect__icons{

    margin-bottom: 90px;

    .border-row{
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
    }
}