.slider{

    border-radius: 15px;
    box-shadow: 0.1px 1.5px 4.1px 1px rgba(3, 2, 10, 0.06);

    &__description-slide{
        background: #fff;
        padding: 2rem 3.1rem;
        font-size: 1.3rem;

        @include phone{
            padding: 2rem 1.5rem;
            background: $primary;
            color: white;
        }

        h4{
            font-size: 2rem;

            @include phone{
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
            }
        }
    }

    &__img{
        max-height: 400px;
    }
    .swiper-pagination{
        left: 50px;
        bottom: 160px;
        width: auto;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
        background: $primary;
    }

    .swiper-button-next, .swiper-button-prev{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $textBase;
        bottom: 70px;
        top: unset;     
        
        @include phone{
            bottom: 200px;
        }

        &::after{
            content: '';
        }
    }

    .swiper-button-next{
        background: url('../assets/swiper-arrow-next.svg') no-repeat 60% 50%;

        &:hover{
            background: lighten($primary, 10) url('../assets/swiper-arrow-next.svg') no-repeat 60% 50%;
        }
    }

    .swiper-button-prev{
        background: url('../assets/swiper-arrow-next.svg') no-repeat 60% 50%;
        transform: rotate(180deg);
        right: 60px;
        left: unset;

        &:hover{
            background: lighten($primary, 10) url('../assets/swiper-arrow-next.svg') no-repeat 60% 50%;
        }
    }
}

.sect__slider{
    margin-bottom: 3.4rem;

    .slider{
        padding-left: 0;
        padding-right: 0;
    }

    &>.row{
        height: 540px;
    }

    h1{
        display: none;

        @include phone{
            display: block;
            font-size: 2rem;
            color: $primary;
            font-weight: bold;
            line-height: 2.5rem;
            margin-bottom: 50px;
        }
    }

}

.features{

    @include phone{
        margin-top: 2rem;
    }

    &>.row{
        height: 100%;
    }

    &__item{
        height: 160px;
        background: #fff;
        font-size: 1.25rem;
        line-height: 1.65rem;
        border-radius: 15px;
        box-shadow: 0.1px 1.5px 4.1px 1px rgba(3, 2, 10, 0.06);

        @include phone{
            height: 80px;
            margin-top: 1.5rem;
        }

        .row{
            width: 100%;
        }
    }
}