// USER VARIABLES SECTION
//  Colors
$textBase: #343434;
$primary: #369dfd;
$bgColor: #eff9ff;

// FONTS LOAD SECTION
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// GENERAL DOCUMENT STYLES
:root, *{
    font-family: 'Montserrat', sans-serif;
    color: $textBase;
}


.row{
    z-index: 1;
}

main{
    overflow:hidden;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;  
    white-space: nowrap;  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  body{
      background-color: $bgColor;
  }

  @media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}